@model MyFinances.Models.Loan

<div class="col-xs-12 col-sm-6 col-md-12">
    @if (ViewBag.Action != "Create" || ViewBag.Calculate)
    {
        <h2>Payment Info</h2>
        <div class="tab-content margin-bottom-20 alert-success">
            <div class="table-container">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Principal)</th>
                            <td>@Html.DisplayFor(model => model.Principal)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.MonthlyPayment)</th>
                            <td>@Html.DisplayFor(model => model.MonthlyPayment)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.PaymentsRemaining)</th>
                            <td>@Html.DisplayFor(model => model.PaymentsRemaining)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        if (ViewBag.Action != "Create")
        {
            if (Model.LoanPayments != null && Model.LoanPayments.Any())
            {
                if (Model.IsActive)
                {
                    <h2>Last Payment</h2>
                    <div class="tab-content margin-bottom-20 alert-success">
                        <div class="table-container">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.LastPaymentDate)</th>
                                        <td>@Html.DisplayFor(model => model.LastPaymentDate)</td>
                                    </tr>
                                    <tr>
                                        <th>@Html.DisplayNameFor(model => model.LastPaymentAmount)</th>
                                        <td>@Html.DisplayFor(model => model.LastPaymentAmount)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="alert alert-warning">There are currently no payments for this loan.</p>
            }
        }
    }
</div>

