@model MyFinances.Models.DashboardViewModel

@{
    ViewBag.Title = "History";
}

<script>
    charts = [];
</script>

<div class="clear-after">
    <div class="pull-right">
        <ul class="pagination" style="margin: 0; margin-right: 10px;">
            <li class="@(!Model.DisplayMonth ? "active" : "")">@Html.ActionLink("Payment Frequency", "History", new { year = Model.CurrentYear, displayMonth = false })</li>
            <li class="@(Model.DisplayMonth ? "active" : "")">@Html.ActionLink("Monthly", "History", new { year = Model.CurrentYear, displayMonth = true })</li>
        </ul>
        <ul class="pagination" style="margin: 0;">
            @for (int i = Model.EndYear; i >= Model.StartYear; i--)
            {
                <li class="@(@Model.CurrentYear == i ? "active" : "")">@Html.ActionLink(i.ToString(), "History", new { year = i, displayMonth = Model.DisplayMonth })</li>
            }
        </ul>
    </div>
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    @{ int count = 0; }
    @if (Model.DateRanges != null && Model.DateRanges.Any())
    {
        foreach (MyFinances.Models.DashboardDateRange range in Model.DateRanges)
        {
            count += 1;
            <div class="col-lg-6">

                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading clearfix">
                        <h3 class="pull-left">@Html.DisplayFor(x => range.StartDate) - @Html.DisplayFor(m => range.EndDate), @range.EndDate.Year</h3>

                        <ul class="nav nav-tabs pull-right">
                            <li><a href="#graghTab-@count" data-toggle="tab" data-chart-number="@count">Graph</a></li>
                            <li class="active"><a href="#tableTab-@count" data-toggle="tab">Table</a></li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        
                        <div class="tab-pane fade in active" id="tableTab-@count">
                            @if (range.IncomeItems.Any())
                            {
                                <div class="table-container">
                                    <table class="table table-striped" id="Dashboard-Table-Income-@count">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(m => range.IncomeItems.First().Name)</th>
                                                <th>@Html.DisplayNameFor(m => range.IncomeItems.First().Date)</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th class="text-right">@Html.DisplayNameFor(m => range.IncomeItems.First().Amount)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (MyFinances.Models.DashboardIncomeItem item in range.IncomeItems)
                                            {
                                                <tr>
                                                    <th>@Html.ActionLink(Html.DisplayFor(m => item.Name).ToString(), "Details", "Incomes", new { id = item.Id }, null)</th>
                                                    <td>@Html.DisplayFor(m => item.Date)</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td class="text-right">@Html.DisplayFor(m => item.Amount)</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="text-right" colspan="5">@Html.DisplayNameFor(m => range.IncomeTotal):</th>
                                                <th class="text-right">@Html.DisplayFor(m => range.IncomeTotal)</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            }

                            <div class="table-container">
                                <table class="table table-striped" id="Dashboard-Table-@count">
                                    <thead>
                                        <tr>
                                            <th>@Html.DisplayNameFor(m => range.Items.First().Name)</th>
                                            <th>@Html.DisplayNameFor(m => range.Items.First().Date)</th>
                                            <th></th>
                                            <th class="text-right">@Html.DisplayNameFor(m => range.Items.First().Amount)</th>
                                            <th class="text-right">@Html.DisplayNameFor(m => range.Items.First().SharedAmount)</th>
                                        </tr>
                                    </thead>
                                    @foreach (MyFinances.Models.DashboardItem item in range.Items)
                                    {
                                        <tr class="@(item.Classes == "alert-success" ? "" : item.Classes)">
                                            <th>@Html.ActionLink(Html.DisplayFor(m => item.Name).ToString(), "Details", item.Type + "s", new { id = item.Id }, null)</th>
                                            <td>@Html.DisplayFor(m => item.Date)</td>
                                            <td></td>
                                            <td class="text-right">@Html.DisplayFor(m => item.Amount)</td>
                                            <td class="text-right">@Html.DisplayFor(m => item.SharedAmount)</td>
                                        </tr>
                                    }
                                    <tfoot>
                                        <tr>
                                            <th class="alert-info not-owner">@Html.DisplayNameFor(x => range.NotOwnerTotal):</th>
                                            <th class="alert-info not-owner"><span class="total">@Html.DisplayFor(x => range.NotOwnerTotal)</span></th>
                                            <th class="text-right">@Html.DisplayNameFor(x => range.Total):</th>
                                            <th class="text-right"> <span class="total">@Html.DisplayFor(x => range.Total)</span></th>
                                            <th class="text-right"><span class="total">@Html.DisplayFor(x => range.SharedTotal)</span></th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                            <div class="tab-pane fade" id="graghTab-@count">
                                <div id="chart-@count" style="height: 400px; width: 100%;"></div>
                            </div>

                        </div>

                </div>

            </div>
            <script>
                charts.push({
                    chartName: "chart-@count",
                    loadOnStart: false,
                    loaded: false,
                    data: [
                        @foreach (MyFinances.Models.DashboardItem item in range.Items)
                        {
                            @:{ y: @item.SharedAmount, indexLabel: "@item.Name" },
                        }
                    ]
                });
            </script>
            if (count % 2 == 0)
            { <div class="clearfix"></div>}
        }
    }
</div>
