@model MyFinances.Models.Bill

<div class="col-xs-12 col-sm-6 col-md-12">
    @if (ViewBag.Action != "Create")
    {
        if (Model.BillPayments != null && Model.BillPayments.Any())
        {
            if (Model.IsActive)
            {
                <h2>Last Payment</h2>
                <div class="tab-content margin-bottom-20">
                    <div class="table-container alert-success">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.LastPaymentDate)</th>
                                    <td>@Html.DisplayFor(model => model.LastPaymentDate)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.LastPaymentAmount)</th>
                                    <td>@Html.DisplayFor(model => model.LastPaymentAmount)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            <h2>Overal Averages</h2>
            <div class="tab-content margin-bottom-20">
                <div class="table-container">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.AveragePaid)</th>
                                <td>@Html.DisplayFor(model => model.AveragePaid)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.MinPaid)</th>
                                <td>@Html.DisplayFor(model => model.MinPaid)</td>
                            </tr>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.MaxPaid)</th>
                                <td>@Html.DisplayFor(model => model.MaxPaid)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <p class="alert alert-warning">There are currently no payments for this bill.</p>
        }
    }
</div>

