@model MyFinances.Models.Bill

@if (ViewBag.Action != "Create")
{
    <div class="col-xs-12 col-md-8">
        <div id="BillTabs">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#billPaymentHistory" aria-controls="billPaymentHistory" role="tab" data-toggle="tab" class="btn-md">Payment History</a></li>
                @if (Model.BillPayments != null && Model.BillPayments.Any())
                {
                    <li role="presentation"><a href="#billMonthlyAverages" aria-controls="billMonthlyAverages" role="tab" data-toggle="tab" class="btn-md">Monthly Averages</a></li>
                }
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="billPaymentHistory">
                    
                    @if ((Model.NotOwner && Model.NotOwnerBillPayments != null && Model.NotOwnerBillPayments.Any()) || (!Model.NotOwner && Model.BillPayments != null && Model.BillPayments.Any()))
                    {
                        <div class="text-center">
                            <ul class="pagination">
                                @for (int i = Model.MaxYear; i >= Model.MinYear; i--)
                                {
                                    <li><a href="#" data-year="@i">@i</a></li>
                                }
                                <li><a href="#" data-year="">Show All</a></li>
                            </ul>
                        </div>
                    }

                    <div class="table-container">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.BillPayments.FirstOrDefault().DatePaid)</th>
                                    <th>@Html.DisplayNameFor(model => model.BillPayments.FirstOrDefault().Payee)</th>
                                    <th></th>
                                    <th class="text-right">@Html.DisplayNameFor(model => model.BillPayments.FirstOrDefault().Amount)</th>
                                    <th class="text-right">@Html.DisplayNameFor(model => model.BillPayments.FirstOrDefault().SharedAmount)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if ((Model.NotOwner && Model.NotOwnerBillPayments != null && Model.NotOwnerBillPayments.Any()) || (!Model.NotOwner && Model.BillPayments != null && Model.BillPayments.Any()))
                                {
                                    foreach (var item in (Model.NotOwner) ? Model.NotOwnerBillPayments.OrderBy(x => x.DatePaid).ToList() : Model.BillPayments.OrderBy(x => x.DatePaid).ToList())
                                    {
                                        <tr class="@(Model.IsActive && Model.LastPaymentDate == item.DatePaid ? "alert-success with-border" : "") hide" id="BillPayment-@item.ID" data-year="@item.DatePaid.Year">
                                            <th>
                                                @if (Model.NotOwner)
                                                {
                                                    @item.DatePaid.ToString("MMMM - dd")
                                                }
                                                else
                                                {
                                                    @Html.ActionLink(item.DatePaid.ToString("MMMM - dd"), "EditPayment", new { ID = item.ID }, new { @class = "datePaid" })
                                                }
                                            </th>
                                            <td><span class="payee">@Html.DisplayFor(m => item.Payee)</span></td>
                                            <td></td>
                                            <td class="text-right"><span class="amount">@Html.DisplayFor(m => item.Amount)</span></td>
                                            <td class="text-right"><span class="amount">@Html.DisplayFor(m => item.SharedAmount)</span></td>
                                        </tr>
                                    }
                                }
                                @if (Model.IsActive)
                                {
                                    <tr class="next-payment alert-warning hide" id="BillPayment-0" data-year="@Model.LastPaymentDate.Year">
                                        <th>
                                            @if (Model.NotOwner)
                                            {
                                                @Model.DueDate.ToString("MMMM - dd")
                                            }
                                            else
                                            {
                                                @Html.ActionLink(Model.DueDate.ToString("MMMM - dd"), "AddPayment", new { id = Model.ID }, new { @class = "datePaid" })
                                            }
                                        </th>
                                        <td><span class="payee">@Html.DisplayFor(m => Model.Payee)</span></td>
                                        <td>
                                            @if (!Model.NotOwner)
                                            {
                                                @Html.ActionLink("Paid", "Paid", new { id = Model.ID })
                                            }
                                        </td>
                                        <td class="text-right"><span class="amount">@Html.DisplayFor(m => Model.Amount)</span></td>
                                        <td class="text-right"><span class="amount">@Html.DisplayFor(m => Model.SharedAmount)</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                @if (Model.BillPayments != null && Model.BillPayments.Any())
                {
                    <div role="tabpanel" class="tab-pane fade" id="billMonthlyAverages">
                        <div class="table-container">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="hidden"></th>
                                        <th>@Html.DisplayNameFor(model => model.BillAverages.FirstOrDefault().Date)</th>
                                        <th class="text-right">@Html.DisplayNameFor(model => model.BillAverages.FirstOrDefault().Min)</th>
                                        <th class="text-right">@Html.DisplayNameFor(model => model.BillAverages.FirstOrDefault().Max)</th>
                                        <th class="text-right">@Html.DisplayNameFor(model => model.BillAverages.FirstOrDefault().Average)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BillAverages.OrderBy(x => x.Date))
                                    {
                                        if (item.IsActive)
                                        {
                                            <tr>
                                                <th>@Html.DisplayFor(m => item.Date)</th>
                                                <td class="text-right">@Html.DisplayFor(m => item.Min) / @Html.DisplayFor(m => item.MinShared)</td>
                                                <td class="text-right">@Html.DisplayFor(m => item.Max) / @Html.DisplayFor(m => item.MaxShared)</td>
                                                <td class="text-right">@Html.DisplayFor(m => item.Average) / @Html.DisplayFor(m => item.AverageShared)</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th class="text-right">@Html.DisplayFor(model => model.MinPaid) / @Html.DisplayFor(model => model.MinPaidShared)</th>
                                        <th class="text-right">@Html.DisplayFor(model => model.MaxPaid) / @Html.DisplayFor(model => model.MaxPaidShared)</th>
                                        <th class="text-right">@Html.DisplayFor(model => model.AveragePaid) / @Html.DisplayFor(model=> model.AveragePaidShared)</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}